<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
<div class="w3-container">
    <h5 class="w3-opacity"><b>Tatooine</b></h5>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
    <p>On-the-job training.</p>
    <hr>
</div>
<div class="w3-container">
    <h5 class="w3-opacity"><b>Jawa Traders School</b></h5>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>A Very Very Long Time Ago</h6>
    <p>Master Degree</p>
    <hr>
</div>