<div class="w3-content w3-margin-top main-page">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="/dist/images/avatar.png" style="width:100%" alt="Avatar">
                </div>
                <div class="w3-container">
                    <h2>Writk Kiisidir</h2>
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Scavanger</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Tatooine</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>writk@jawa.com</p>
                    <hr> {{>jawa-skills}}
                    <br> {{>jawa-languages}}
                    <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                {{>jawa-workexperience}}
            </div>

            <div class="w3-container w3-card-2 w3-white">
                {{>jawa-education}}
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>
</div>