<!DOCTYPE html>
<html>
<title>Writk Kiisidir</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/dist/styles/w3.css">
<link rel="stylesheet" href="/dist/styles/main.css">

<body class="w3-light-grey">
    {{{body}}}
</body>

</html>