<!DOCTYPE html>
<html>
<title>bluefoxcode</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public/dist/styles/w3.css">

<body>
    {{{body}}}
</body>

</html>